body{
	background-color: white;
}

#theMap{
	display: block;
	margin: auto;
	height: 600px;
	width: 80%;
}

#mainlogo{ 
	width: 20%;
    max-width: 300px;
	margin-left: 300px;
}

h1{
	text-align: center;
	font-family: Tahoma,Helvetica,Arial,sans-serif;
 	color: white;
     	font-size: 3em;
		font-weight: 900;
		letter-spacing: 1px;
		text-transform: uppercase;
	margin: auto;
	
}
h2{
	padding: 0;
	margin: 0;
}
img{
	width: 200px;
}
.familyAndVideo{
	text-align: center;
	padding-top: 0;
}
.countryInfo{
	float: left;
	display: block;
	text-align: left;
	padding-right: 5px;
}
.countryBorderImg{
	float: left;
	display: block;
	text-align: left;
	padding-left: 3px;
	border-left: 1px white;
}
.infoBox{
	border: 1px solid #747678;
}
.container{
	padding: 5px;
	margin: 0;
	background-color: rgb(182, 193, 190);
}
.missionaryPhoto{
	margin-top: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid white;
}
.missionaryPhoto:hover{
	border: 1px solid black;
}
.tooltip .tooltiptext{
	visibility: hidden;
	text-align: center;
	background-color: rgb(220,230,247);
	border: 1px solid black;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}